.animateTitle {
  animation-name: slide-left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.animateButton {
  animation-name: slide-right;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.animateSunRaysCount {
  animation-name: slide-down;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.animateTimer {
  animation-name: slide-up;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes slide-left {
  from {
    left: 0;
  }

  to {
    left: -100%;
    opacity: 0;
  }
}

@keyframes slide-right {
  from {
    right: 20;
  }
  to {
    right: -20%;
    opacity: 0;
  }
}

@keyframes slide-down {
  from {
    top: -20rem;
  }
  to {
    top: 0;
  }
}

@keyframes slide-up {
  from {
    bottom: -20rem;
  }
  to {
    bottom: 0;
  }
}
