html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "roboto", sans-serif;
  background-color: #000000;
  /* 262b40, 1f2333, 171A26 */
  color: #e4e9e8;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.titleContainer {
  position: fixed;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  padding: 20px;
  font-size: 9em;
  font-family: "Anybody", sans-serif;
  font-weight: 900;
  line-height: 80%;
  text-transform: uppercase;
  font-stretch: 80%;
  margin: 0;
}

.title {
  width: 0;
  overflow: visible;
}

.uc {
  font-stretch: ultra-condensed;
}

.c {
  font-stretch: condensed;
}

.e {
  font-stretch: expanded;
}

.ue {
  font-stretch: ultra-expanded;
}

.buttonContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.playButton,
.startButton {
  background-color: #e55934;
  border: none;
  padding: 10px 20px;
  font-family: "Anybody", sans-serif;
  font-size: 3.5em;
  font-weight: 900;
  text-transform: uppercase;
  color: #1f2333;
  transition: background-color 0.2s ease;
}

.playButton:hover,
.startButton:hover {
  background-color: #e74b1f;
}

.startButton {
  margin-right: 10px;
}

.sunRaysCountContainer {
  width: 10rem;
  padding: 0 20px;
  position: fixed;
  text-align: center;
  top: -20rem;
  right: 0;
}

.timerContainer {
  padding: 20px 40px;
  position: fixed;
  text-align: right;
  bottom: -20rem;
  right: 0;
}

.count,
.timer {
  font-family: "Anybody", sans-serif;
  font-weight: 900;
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.count {
  font-size: 9em;
}

.timer {
  font-size: 3.5em;
}

.card {
  position: fixed;
  background-color: #e55934;
  color: #1f2333;
  top: 0;
  font-size: 1rem;
  padding: 20px 25px;
  width: 200px;
  border-radius: 20px;
  visibility: hidden;
}

.card > button {
  background-color: #e55934;
  border: none;
  font-family: "Anybody", sans-serif;
  font-size: 2rem;
}

.card6,
.gameOver {
  position: fixed;
  background-color: #1f2333;
  color: #e4e9e8;
  top: 0;
  padding: 5% 10%;
  width: 80%;
  height: 90%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card6 > p {
  font-size: 1.25rem;
}

.card6 > button {
  margin-top: 2rem;
}

.showScreen {
  visibility: visible;
}
